<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
  <title>Exo7 : Exercices de mathématique -- Rechercher</title>
  <link rel="shortcut icon" href="html/favicon.ico"/>
  <meta http-equiv="content-type" content="text/html; charset=utf8" />
  <meta name="Description" content="Exo7 propose aux étudiants des fiches d’exercices de mathématiques avec indications et corrections de niveau L1 Math Sup, L2 Math Spé, L3 Licence."/> 
  <meta name="Keywords" content="exercice, math, mathématique, licence, université, supérieur, prépa, cpge, sup, spé, correction, corrigé, algèbre, analyse, L1, L2, L3"/>

  <!-- Materialize -->
  <link rel="stylesheet" href="materialize/css/materialize.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <style type="text/css">

    li.collection-item:hover {
      color: orange;
      cursor: pointer;
    }

    button:hover {
      cursor: pointer;
    }

    p:hover {
      color: orange;
      cursor: pointer;
    }

    b {
      align: center;
    }

    h5, h6 {
      text-align: center;
    }

    i:hover {
      cursor: pointer;
    }

    #ajout:hover {
      color: blue;
    }

  </style>

</head>

<!--
Design by Free CSS Templates http://www.freecsstemplates.org
Name : Zenlike  Released for free under a Creative Commons Attribution 2.5 License
-->

<body onLoad="M.AutoInit();">
	<div class="row">
	<div id="header" class="row grey darken-4 white-text" style="margin: 0">
		<div class="col l10"><h4>Cours et exercices<br> de mathématiques</h4></div>
            <a href="index2.html"> 
        	    <img src="images/LogoExo7-mini.png"  alt="Exo7"/>
            </a>
	</div>
	
  	<nav class="nav-extended deep-orange darken-3"style="margin-bottom: 15px">
    	<div class="nav-wrapper">
      		<a class="brand-logo center">Rechercher</a>
    	</div>

    <div class="nav-content" >
      <ul class="tabs tabs-transparent">
        <li class="tab"><a href="index2.html">Accueil</a></li>
        <li class="tab"><a href="un.html">Première année</a></li>
        <li class="tab"><a href="deux.html">Deuxième année</a></li>
        <li class="tab"><a href="trois.html">Troisième année</a></li>
        <li class="tab"><a href="prof.html">Pour les profs</a></li>
        <li class="tab orange darken-1"><a class="active" href="nouvSearch.html">Rechercher</a></li>
      </ul>
    </div>
  </nav>

</div>

  <div class="row"> 
    <div class="app">
    	<!-- Pour changer couleur bleue de ligne du dessous, chnager le CSS de materialize lignes 6228,6229,6230 et 6246 -->
		<a class="btn-floating yellow accent-4 waves-effect waves-light" @click="affichagePerso()"><i class="material-icons">check</i></a> Ma liste (ajoutez depuis la liste des exercices ou entrez les numéros souhaités) :
        	<textarea class="materialize-textarea" id="textarea1" rows="2" v-model="listePerso"> {{ listePerso }}</textarea>


<!-- Pour les bordures colorées, j'ai modifié les lignes 3162 et 3168 -->
    <!-- Affichage des menus -->
    <div class="col s4 l4">

        <!-- Affichage des modules -->
        <ul class="collection with-header" v-if = showModule>
           <li class="collection-header" v-show = showModule > <h5>Modules</h5> </li>
        </ul>
        <ul class="collection with-header" v-if = showModule>
          <li class="collection-item" 
          v-for="item in tabModules" 
          @click="listeChapitres = item.chapitres; module = item.nom;
          showSousChap = false; showChap = true; showModule = false;">
          <div>{{ item.nom }}</div></li>
        </ul>

        <!-- Affichage des chapitres -->
        <ul class="collection with-header" v-if = showChap>
          <li class="collection-header" v-show = showChap > <h5>Chapitres <h6> ({{ module }}) </h6></h5> 
          <!-- Mise en place des boutons de retour du menu -->
          <p @click="listeChapitres = []; chapitre = '';
          showModule = true; showChap = false" v-show = showChap> < Revenir aux modules </p></li>
        </ul>

        <ul class="collection with-header" v-if = showChap>
            <li class="collection-item" 
            v-for="item in listeChapitres" 
            @click="listeSousChapitres = item.sousChapitres; exosChapitre(item.sousChapitres); recupExos(); chapitre = item.nom; affichage(); 
            showSousChap = true; showChap = false;">
           		<div>{{ item.nom }}</div></li>
        </ul>

        <!-- Affichage des sous chapitres -->
        <ul class="collection with-header" v-if = showSousChap>
    	    <li class="collection-header" v-show = showSousChap > <h5>Sous-chapitres <h6> ({{ chapitre.substring(4,100) }})</h6></h5> 
            <p @click="listeSousChapitres = []; sousChap = ''; nbExos = 0; chapitre = ''; tabExos = []; afficheEx = [];
            showChap = true; showSousChap = false;"
            v-show = showSousChap> < Revenir aux chapitres</p></li>
        </ul>

        <ul class="collection with-header" v-if = showSousChap>
              <li class="collection-item" 
              v-for="item in listeSousChapitres" 
              @click="exosSousChapitre(item); recupExos(); sousChap = item.nom; affichage();">
              	<div>{{ item.nom }}</div></li>
        </ul>

        <i>Nombre d'exercices {{ chapitre.substring(4,100) }} - {{ sousChap.substring(7, 100) }} : {{ nbExos }}</i>
    </div>

      <!-- Liste des exercices -->
      <div class="col s3 l2">
        <ul class="collection with-header">
          <li class="collection-header"> <h5>Liste des exercices 
            <h6 v-if="chapitre || sousChap != ''">
              ({{ chapitre.substring(4,100) }} - {{ sousChap.substring(7, 100) }})
            </h6></h5> 
            <div v-if="tabExos.length != 0"> <i class="material-icons" @click="changeSelection(); affichage()"> {{ selection }} </i> {{ texteSelection }} </div></li>
        </ul>
        <ul class="collection with-header" style="height: 600px; overflow: scroll; overflow: auto">
          <li class="collection-item" v-for="item in tabExos" v-if="item.exercice != ''">
          <i class="material-icons" @click="item.visible = changeIcone(item.visible); affichage(); verifSelection()">{{ item.visible }}</i> {{ item.exercice }} 
          <i id="ajout" class="material-icons" @click="completeListePerso(item.exercice)"> add </i></li>
        </ul>
      </div>

      <!-- Affichage des exercices -->
      <div class="col s5 l6">
        <ul class="collection with-header">
          <li class="collection-header"> <h5>Affichage des exercices</h5> </li>
        </ul>
        
        <ul class="collection with-header" style="height: 600px; width: 100%; overflow: scroll; overflow: auto">
          <li class="collection-item" v-for="item in afficheEx" style="display: flex; height: 100%">
            <iframe :src = "item" scrolling="no" frameborder="0" style="height: auto; width: auto"></iframe>
          </li>
        </ul>

        <!-- Pour réduire l'affichage des exercices à droite, trouver comment réduire par sélection
        <ul class="collection with-header" style="height: 600px; width: 100%; overflow: scroll; overflow: auto">
          <li class="collection-item" v-for="item in afficheEx" style="display: flex; height: auto">
            <iframe :src = "item" scrolling="no" frameborder="0" style="height: auto; width: auto"></iframe>
          </li>
        </ul> -->
      </div>

      <div class="fixed-action-btn">
        <a class="btn-floating btn-large yellow accent-4">
          <i class="large material-icons">menu</i>
        </a>
        <ul>
          <li><span class="tooltipped" data-position="top" data-tooltip="Télécharger"><a class="btn-floating orange darken-1" href="extract5.php"><i class="material-icons">file_download</i></a></span></li>
          <li><span class="tooltipped" data-position="top" data-tooltip="Imprimer"><a class="btn-floating orange darken-1"><i class="material-icons">print</i></a></span></li>
          <li><span class="tooltipped" data-position="top" data-tooltip="Modifier"><a class="btn-floating orange darken-1"><i class="material-icons">edit</i></a></span></li>
        </ul>
      </div>

	</div>
</div>

<footer class="page-footer docs-footer deep-orange darken-3" style="padding-top: 0">
      <div class="container" style="padding-top: 0">
        <div class="row" >
          <div class="col s12">
            <div class="row">
              <div class="col s12">
                <h5>Auteurs</h5>
                <p>
    Les cours et les vidéos sont produits par Arnaud Bodin (Université de Lille), Léa Blanc-Centi (Université de Lille), Niels Borne (Université de Lille), Benjamin Boutin (Université Rennes 1), Laura Desideri (Université de Lille), Damien Mégy (université de Lorraine) et Pascal Romon (Université Marne la Vallée) avec l'aide d'autres collègues. Les énoncés et corrections d'exercices proviennent de diverses universités ainsi que de classes de Math Sup et Math Spé. Le contenu est entièrement gratuit. <br/>
    Le site Exo7 et les vidéos sont soutenus financièrement par l'université Lille 1 et Unisciel ; le site est hébergé par la SMAI et la SMF. </p>
              </div>

            <div class="row">
              <div class="col s12">
                <h5>Sponsors</h5>
              </div>
              <div class="col s12">
                <div class="patreon-footer-ad">
                  <a href=http://www.unisciel.fr> <img src="images/logo_unisciel.gif" height="50"/></a>

                  <a href=http://www.univ-lille1.fr> <img src="images/logo_lille1_new.png" height="50"/></a>

                  <a href=http://www.univ-rennes1.fr> <img src="images/logo_rennes1.jpg" height="50"/></a>

                  <a href=http://www.univ-mlv.fr> <img src="images/logo_marne-la-vallee.jpg" height="50"/></a>

                  <a href=http://www.smai.emath.fr/> <img src="images/Logo-SMAI.png"/></a>

                  <a href=http://www.smf.emath.fr/> <img src="images/Logo-SMF.png"/></a>
                </div>
              </div>
            </div>

            <div class="footer-copyright">
              © 2014-<noscript>2018</noscript><script type="text/javascript">document.write(new Date().getFullYear());</script> Materialize, All rights reserved.
              <a class="grey-text text-darken-1 right" href="https://github.com/Dogfalo/materialize/blob/master/LICENSE">MIT License</a>
            </div>

          </div>
        </div>
      </div>
    </footer>

<script type="text/javascript">
	$('.question').append(themes.data[this.liste[0]].question);
	app.actualiserMathJax();

 actualiserMathJax: function(){
            if(typeof(MathJax)!= 'undefined') {// si MathJax est chargé, on relance le rendu
                MathJax.Hub.Queue(["Typeset",MathJax.Hub]);
            } else { // sinon, on le recharge et on relance le rendu en callback
                $.getScript('https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML', function() {
                MathJax.Hub.Queue(["Typeset", MathJax.Hub]);
                });
            }
        },
</script>

<script type="text/x-mathjax-config">
	MathJax.Hub.Config({
    	tex2jax: {inlineMath: [['$','$'], ['\(','\)']]}
    });
</script>

<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.fixed-action-btn');
    var instances = M.FloatingActionButton.init(elems, {
      direction: 'left'
    });
  });
</script>

  <!-- VueJS -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

  <!-- JS pour récupérer les anciens tableaux et Materialize -->
  <script type="text/javascript" src="tableaux.js"></script>
  <script type="text/javascript" src="materialize/js/materialize.js">  </script>

<script>
  const app = new Vue({
    el: ".app",
    data: {
      //Tableau d'objets où vont être tous les modules, chapitres, sous chapitres et listes d'exercices
      tabModules: [],
      //Données pour l'affichage
      showModule: true,
      showChap: false,
      showSousChap: false,
      module: '',
      chapitre: '',
      sousChap: '',
      //Listes qui stockent les chap et sousChap à afficher
      listeChapitres: [],
      listeSousChapitres: [],
      //listeExos prend la chaine contenant tous les exercices, qui va être splitée et intégrée dans tabExos pour avoir les numéros d'exercice un par un
      listeExos: '',
      tabExos: [],
      nbExos: 0,
      //Icone à sélectionner ou déselectionner si on veut voir ou non un exercice, en fonction du résultat, les exercices seront placés dans afficheEx
      icone: 'visibility',
      afficheEx: [],
      numExo: '',
      //Pour cocher ou decohcer tous les exercices
      selection: 'check_box',
      texteSelection: 'Tout désélectionner',
      //Liste des exercices entrés par l'utilisateur
      listePerso: '',
      tabExoPerso: [],
    },
    methods: {
      //Méthode qui regroupe les listes d'exercices de tous les sous-chapitres d'un chapitre sélectionné, le paramètre étant la liste des sous-chapitres
      exosChapitre(liste){
        this.selection = 'check_box';
        this.texteSelection = 'Tout désélectionner'
        this.listeExos = [];
        for(var n in liste){
          this.listeExos += " " + liste[n].exos;
        }
      },
    //Méthode qui prend en paramètre le nom d'un sous-chapitre et récupère son attribut exos dans listeExos
    exosSousChapitre(nom){
      this.selection = 'check_box';
      this.texteSelection = 'Tout désélectionner'
      this.listeExos = [];
      this.listeExos += nom.exos;
    },
    //Méthode qui insère un par un les exercices de listeExos dans un tableau pour pouvoir les afficher les afficher
    recupExos(){
      this.tabExos = [];
      //Place tous les exercices dans un tableau pour trouver leur fichier .txt
      var tabInter = this.listeExos.split(' ');
      //Compte des exercices, juste pour l'affichage
      //Pour les exos des chapitres, il y a un espace en premier caractère du tableau, on ne le compte donc  pas
      if (tabInter[0] == ''){
        this.nbExos = -1;
      } else {
        this.nbExos = 0;
      }
      for (var n in tabInter){
        //On attribue l'icone visibility à chaque exercice avec l'attribut visible.
        var objExos = new Object();
        objExos.exercice = tabInter[n];
        objExos.visible = this.icone;
        objExos.ajouter = 'add';
        this.tabExos.push(objExos);
        this.nbExos += 1;
      }
    },
    //Méthode qui change l'icone de visibilité d'un exercice à chaque clique
    changeIcone(icone){
      if(icone == 'visibility'){
        return 'visibility_off';
      } else {
        return 'visibility';
      }
    },
    //Méthode qui change l'icone "tout sélectionner" ainsi que le texte correspondant
    changeSelection(){
      if(this.selection == 'check_box_outline_blank'){
        this.selection = 'check_box';
        this.texteSelection = 'Tout déselectionner';
        for(var n in this.tabExos){
          this.tabExos[n].visible = 'visibility';
        }
      } else {
        this.selection = 'check_box_outline_blank';
        this.texteSelection = 'Tout sélectionner';
        for(var n in this.tabExos){
          this.tabExos[n].visible = 'visibility_off';
        }
      }
    },
    //Si l'utilisateur déselectionne ou sélectionne tout à la main, la case Tout sélectionner doit changer
    verifSelection(){
      var v = 0; //visible
      var nv = 0; //non visible
      for(var n in this.tabExos){
        console.log(this.tabExos[n].exercice);
        if(this.tabExos[n].exercice != ''){
          if(this.tabExos[n].visible == 'visibility_off'){
            nv++;
          } else {
            v++;
          }
        }
      }
      if(nv == this.nbExos && this.selection == 'check_box'){
        this.selection = 'check_box_outline_blank';
        this.texteSelection = 'Tout sélectionner';
      } else if (v == this.nbExos && this.selection == 'check_box_outline_blank'){
        this.selection = 'check_box';
        this.texteSelection = 'Tout désélectionner';
      }
    },
    //Va faire une boucle sur tabExos pour récupérer la liste des exos sélectionnés, méthode doit être appelée à chaque clic
    affichage(){
      this.afficheEx = [];
      var numExo;
      //Variable à changer selon l'emplacement du dossier avec les exercices
      var chemin = 'exercices/';
      for(var n in this.tabExos) {
        if(this.tabExos[n].visible == 'visibility'){
          //Le premier élément du tableau sera nul donc on n'en tient pas compte
          if(this.tabExos[n].exercice != ''){
            numExo = this.tabExos[n].exercice;
            //Tant qu'il n'y a pas 6 caractères, on ajoute des 0 devant le numéro de l'exercice
            while(numExo.length < 6) {
              numExo = 0 + numExo;
            }
            this.afficheEx.push(chemin + 'ex' + numExo + '.txt');
          }
        }
      }
    },
    affichagePerso(){
      this.afficheEx = [];
      var chemin = 'exercices/'
      var numExo;
      this.tabExoPerso = this.listePerso.split(' ');
      for(var n in this.tabExoPerso) {
        if(this.tabExoPerso[n] != ''){
          numExo = this.tabExoPerso[n];
          while(numExo.length < 6) {
            numExo = 0 + numExo;
          }
          this.afficheEx.push(chemin + 'ex' + numExo + '.txt');
        }
        
      }
    },
    completeListePerso(numEx){
      var tabInter = this.listePerso.split(' ');
      var c = 0;
      for(var n in tabInter){
        if(tabInter[n] != numEx){
          c++;
        }
      }
      if(c == tabInter.length){
        this.listePerso += ' ' + numEx;
      }
    }
  },
  created(){
    //Insertion des anciens tabeaux du fichier tableaux.js
    //Insertion des objets "modules" qui contiendront les chapitres et sous chapitres
    for(var i = 0; i<tabModulesJS.length; i++){
      var objModule = new Object();
      objModule.nom = tabModulesJS[i];
      objModule.chapitres = [];
      this.tabModules.push(objModule);
    }

    //Insertion des objets "chapitres" qui contiendront les sous-chapitres et leurs exercices
    var n = 0;
    for (var i = 0; i < tabNumModuleJS.length; i++){
      n = tabNumModuleJS[i];
      var objChapitre = new Object();
      objChapitre.nom = tabchdescJS[i];
      objChapitre.sousChapitres = [];
      this.tabModules[n].chapitres.push(objChapitre);
    }

    //Insertion des objets "sous-chapitres" qui contiendront les exercices
    for(var i = 0; i < this.tabModules.length; i++){
      for (var j = 0; j < this.tabModules[i].chapitres.length; j++){
        for (var k = 0; k < tabcodeJS.length; k++){
          if (this.tabModules[i].chapitres[j].nom.substring(0,3) == tabcodeJS[k].substring(0,3)){
            var objSousChapitre = new Object();
            objSousChapitre.nom = tabdescJS[k];
            objSousChapitre.exos = tabexosJS[k];
            this.tabModules[i].chapitres[j].sousChapitres.push(objSousChapitre);
          }
        }
      }
    }
  },
})
</script>

</body>
</html>
